<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Jack Owens</title>

  <!-- Bootstrap core CSS -->
  <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet">
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="/static/css/resume.min.css" rel="stylesheet">

</head>

<body id="page-top">

  <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
    <a class="navbar-brand js-scroll-trigger" href="#page-top">
      <span class="d-block d-lg-none">Jack Owens</span>
      <span class="d-none d-lg-block">
        <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="/static/images/profile.jpg" alt="">
      </span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#experience">Experience</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#certifications">Certifications</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#interests">Interests</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container-fluid p-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="about">
      <div class="w-100">
        <h1 class="mb-0">Jack
          <span class="text-primary">Owens</span>
        </h1>
        <div class="subheading mb-5">DevOps | PowerShell | Python | Cloud | Automation
        </div>
        <p class="lead mb-5">Hi! My name is Jack. I am a build engineer based out of St. Louis, Missouri experienced with all things DevOps, CI/CD, and cloud. I design and implement systems architecture with improved efficiency, sustainability, and reliability.</p>
      </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex justify-content-center" id="experience">
      <div class="w-100">
        <h2 class="mb-5">Experience</h2>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">Build Engineer</h3>
            <div class="subheading mb-3">Stifel Financial</div>
            <p>I develop and manage software build and release processes. I design efficient architecture to leverage both cloud and on-prem resources. I leverage PowerShell and Python scripting for task automation and improving deployment efficiency. I assist Stifel's development team with following best practices in CI/CD and modern software delivery. I create robust system architecture in multiple frameworks including TeamCity, Octopus Deploy, AWS, Azure DevOps, and Artifactory.</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">September 2019 - Present</span>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">Software Analyst</h3>
            <div class="subheading mb-3">Hunter Engineering</div>
            <p>I developed and managed CI/CD pipelines in Azure DevOps. I created automated build/release tasks to increase deployment frequency for Angular and .NET applications. I wrote PowerShell scripts to automate processes and reduce task complexity. I created and managed Docker containers via Docker Compose. I monitored IIS and Tomcat web applications and servers via SolarWinds SAM. I wrote automated API tests with Postman CLI (Newman). I was a member of the Agile development team and participated in all Scrum stand ups and meetings. I investigated, troubleshot, and fixed application defects as necessary.</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">January 2019 - September 2019</span>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">Desktop Administrator</h3>
            <div class="subheading mb-3">Hunter Engineering</div>
            <p>I automated processes and systems via PowerShell scripting. I assisted with automating employee onboarding and configuring new equipment. I utilized scripting to automate user setups, software installation, and to increase efficiency in routine tasks. I created and managed users and devices in Active Directory, Office 365, and Mitel VoIP. I wrote over 60 training articles and other documentation in a Confluence knowledge base. I ordered equipment via purchasing and supply chain teams. I supported technologies including VMware, Citrix, Windows Server, Office 365, and SQL Server (SSMS).</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">April 2018 - January 2019</span>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between">
          <div class="resume-content">
            <h3 class="mb-0">Support Analyst - Consultant</h3>
            <div class="subheading mb-3">KPMG</div>
            <p>I was accountable for handling confidential information and managing privileged user accounts in compliance with NIST and FIPS 140-2 security standards. I provided specialized support for audit, tax, and advisory software. I interacted with executives, partners, and business professionals regularly and developed strong communication skills. I wrote and edited technical documentation in the company internal KB. I was consistently ranked as a top performer among all department metrics.</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">July 2017 - March 2018</span>
          </div>
        </div>

      </div>

    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="certifications">
      <div class="w-100">
        <h2 class="mb-5">Certifications</h2>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">AWS Certified Developer</h3>
            <div class="subheading mb-3">Amazon Web Services</div>
            <div>Credential ID SWL6V4P2KM441KGN</div>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">Septemeber 2018 - September 2020</span>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">Certified Jenkins Engineer</h3>
            <div class="subheading mb-3">Cloudbees</div>
            <div>Credential ID 13014232</div>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">May 2019</span>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between">
          <div class="resume-content">
            <h3 class="mb-0">Scrum Fundamentals Certified</h3>
            <div class="subheading mb-3">SCRUMstudy</div>
            <div> Credential ID 663050 </div>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">October 2018 - October 2021</span>
          </div>
        </div>
      </div>
    </section>

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="interests">
      <div class="w-100">
        <h2 class="mb-5">Interests</h2>
        <p>Outisde of work, I love traveling and going on roadtrips. I've visited 42 states and 2 countries so far! My favorite place I've been to is Kyoto, Japan.</p>
        <p>I collect mechanical wristwatches, weird instruments, and art. I also enjoy playing chess and reading philosophy.</p>
        <p>Lastly, I love technology and I always stay up to date with the latest trends in AI, automation, and cloud.</p>
        
      </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="contact">
      <div class="w-100">
        <h2 class="mb-5">Contact</h2>
        <p class="mb-0">
          Email: <a href="mailto:rollandjowens@gmail.com">rollandjowens@gmail.com</a>
          <p></p>
          Mobile: <span class="text-primary">(314)-698-6559</span>
        </p>
        </ul>
      </div>
    </section>

  </div>

  <!-- Bootstrap core JavaScript -->
  <script src="/static/vendor/jquery/jquery.min.js"></script>
  <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="/static/js/resume.min.js"></script>

</body>

</html>
